<main>
   <header>
     <h1 class="title">Raporlar</h1>

     <nav class="nav-tabs" id="nav-tabs">
       <a class="active">
         Kullan覺c覺 Bazl覺
       </a>
       <a>
         Malzeme Bazl覺
       </a>
     </nav>
   </header>

   <div class="content-columns">

   </div>
 </main>
